.preview {
    margin-top: 20px;
    margin-bottom: 20px;
    .preview-inner {
        padding-left: 20px;
    }
    .preview-title {
        font-family: 'SF Pro Display';
        font-weight: 500;
        font-size: 22px;
        line-height: 1.18;
        letter-spacing: -0.401053px;
        color: #000000;
        margin-bottom: 20px;
    }
    .preview-list {
        .swiper-slide{
        //    &:first-child{
        //        margin-left: 0 !important;
        //    }
        }
    }

}
